*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    height: 35rem;
    padding-top: 1.5rem;
}

.flex-container{
    display: flex;
}

header>nav{
    width: 75%;
    height: 2.5rem;
    margin: auto;
    background-color: yellow;
    margin-bottom: 1.5rem;
}

.main-header{
    padding-top: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header article{
    background-color: blue;
    width: 60rem;
    height: 25rem;
}

main section.content, .main-content{
background-color: darkred;
margin-top: 5rem;
}

.reverse{
    flex-direction: row-reverse;
}

article.example{
    justify-content: center;
    margin: auto;
    width: 75%;
}

.example>img{
    width: 60%;
    background-color: #1e90ff;
}

.example>div{
    width: 40%;
    background-color: pink;
}

.main-example{
    width: 75%;
    background-color: green;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 3rem 0;
}
